/* Ryan Ramadhan - FSW 6 */

/* navbar */
.navbar-brand {
    width: 100px;
    height: 34px;
}

.nav-link {
    font-family: helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-right: 30px;    
    color: #000;
}
/* navbar */


/* content desc binar car rental */
.jumbotron {
    background-color: #F1F3FF;
    height: 500px;
    margin-top: -75px;
}

.judul {
    font-family: helvetica;
    font-size: 36px;
    font-weight: bold;
    line-height: 150%;
    width: 568px;
    height: 108px;
}

.sub-judul {
    width: 468px;
    height: 60px;
}

.btn-hijau {
    font-family: Helvetica;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    background-color: #5CB85F;
}
/* content desc binar car rental */


/* content our service */
.judul-2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    height: 72px;
    width: 468px;
    margin: 24px 0px;
}

.sub-judul-2 {
    width: 468px;
    height: 60px;
}

.services{
    padding-right: 150px;
}

.list {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
/* content our service */


/* content why us */
.card-1 {
    border-radius: 8px;
}
/* content why us */


/* content testimonial */
.img-text {
    width: 619px;
    height: 270px;
    display: block;
    padding-left: 172px;
    padding-top: 50px;
    background: #F1F3FF;
    border-radius: 8px;
}

.img-text .star {
    color: #F9CC00;
    width: 16px;
    height: 16px;
}

.img-text h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

.img-text p {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    width: 415px;
    height: 80px;
}

.single-box {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    float: right;
}

.img-area {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: 100px;
    left: 46px;
}

.img-area img {
    width: 100%;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li {
    background: #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.carousel-indicators .active {
    background: #5CB85F;
}
/* content testimonial*/


/* content faq*/
.btn-link {
    color: #000;
}

.faq i {
    padding-top: 5px;
    display: flex;
    float: right;
    margin-top: 10px;
}
/* content faq */


/* warna */
.biru4 {
    background-color: #0D28A6;
}

.border-solid {
    border: black solid;
}
/* warna */


/* Tipografi */
.text-14-light {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.text-14-regular {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.text-16-bold {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.text-24-bold {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.text-36-bold {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}
/* Tipografi */

/* footer */
.gambar img{
    padding-right: 12px;
}
/* footer */
